html *
{
    font-family: "Pathway Gothic One", sans-serif;
	font-size: 120%;
	letter-spacing: 1px;
}

body
{
    background-color: #ffffff;
	background-image: url(media/bg.jpg); 
}

/*.logo
{
    color: #000000;
    background-color: #eeeeee;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    width: 150px;
    height: 75px;
    cursor: pointer;
    text-decoration: none;
    max-width: 6.75%;
}

.logo:hover
{
    background-color: #cccccc;
    transition: background-color;
    transition-duration: 0.5s;
    text-decoration: none;
}*/
.text
{
    color: #fed501;
    
}

.red-bold
{
    color: #f50701;
    font-weight: bold;
}

.blue-italic
{
    color:#11f6ff;
    font-style: italic;
}

.link
{
    color: #FFE81F;
    
}

.link:hover
{
    color: #521585;
    text-decoration: underline;
    transition: color;
    transition-duration: 0.5s;
}

#text-center
{
    text-align: center;
    display: block;
}

#p-center
{
    text-align: center;
    display: block;
}

#image-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

button
{
    color: #fed501;
    background-color: #ffffff;
	background-image: url(media/bg.jpg); 
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #fed501;
    width: 150px;
    height: 100px;
    cursor: pointer;
    text-decoration: none;
    max-width: 6.75%;
}

button:hover
{
    background-color: #202020;
	background-image: url(media/buttonhover.jpg);
    transition: background-image;
    transition-duration: 0.5s;
    text-decoration: none;
}

#button-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a
{
    text-decoration: none;
}

p
{
    color: #fed501;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.image
{
    border-radius: 10px;
}

hr
{
    border-radius: 1px;
    width: 12.5%;
}

#album-opis
{
    margin: auto;
}

table, td, tr
{
    border: 1px solid;
    border-color: #fed501;   
    width: 600px;
    border-spacing: initial;
    background-color: #ffffff;
	background-image: url(media/bg.jpg); 
    table-layout: fixed;
}

td
{
    width: 202px; 
}

tr
{
	height: 300px;
}

#table-center
{
    margin-left: auto;
    margin-right: auto;
}

.content
{
    width: 202px;
    height: 300px;
	display: block;
}