html *
{
    font-family: sans-serif;
}

body
{
    background-color: #202020;
}

.logo
{
    color: #ffffff;
    background-color: #191919;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffffff;
    width: 150px;
    height: 75px;
    cursor: pointer;
    text-decoration: none;
    max-width: 6.75%;
}

.logo:hover
{
    background-color: #404040;
    transition: background-color;
    transition-duration: 0.5s;
    text-decoration: none;
}
.text
{
    color: #ffffff;
    
}

.link
{
    color: #ffffff;
    
}

.link:hover
{
    color: #88C0D0;
    text-decoration: underline;
    transition: color;
    transition-duration: 0.5s;
}

#text-center
{
    text-align: center;
    display: block;
}

#image-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

button
{
    color: #ffffff;
    background-color: #202020;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffffff;
    width: 150px;
    height: 100px;
    cursor: pointer;
    text-decoration: none;
    max-width: 6.75%;
}

button:hover
{
    background-color: #404040;
    transition: background-color;
    transition-duration: 0.5s;
    text-decoration: none;
}

#button-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a
{
    text-decoration: none;
}

p
{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.image
{
    border-radius: 10px;
}
